* {
  margin: 0;
  padding: 0;
}

body {
  background-color:#B7E7D1;
}

input {
  display: none;
}

.container {
  margin: 5vh auto;
  width: 60vw;
  overflow: hidden;
}

.slides_container {
  display: flex;
  width: 400%;
}

.slide {
  width: 25%;
  transition: all .6s ease;
}

.slide img {
  width: 100%;
  min-height: 100%;
}

.nav_text {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.text_box {
  display: flex;
  transition: all .6s ease;
  overflow: hidden;
}

.text {
  min-width: 100%;
  min-height: 100%;
  transition: all .6s ease;
}

.navigation {
  display: flex;
  gap: 0.5rem;
}

.btn_area {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  display: flex;
  transition: all .3s ease;
}

.btn {
  width: 0.8rem;
  height: 0.8rem;
  background-color:#0F595E;
  border-radius: 50%;
  margin: auto auto;
  transition: all .3s ease;
}

.text {
  text-align: justify;
}

.btn_area:hover .btn {
  background-color: #23B684;
}
.btn_area:active .btn {
  background-color: #7BBBD6;
}

#r1:checked ~ .slides_container .s1{
  margin-left: 0;
}
#r2:checked ~ .slides_container .s1 {
  margin-left: -25%;
}
#r3:checked ~ .slides_container .s1 {
  margin-left: -50%;
}
#r4:checked ~ .slides_container .s1 {
  margin-left: -75%;
}

#r1:checked ~ .nav_text .navigation #btn1 .btn {
  background-color: #F38A8A;
}
#r2:checked ~ .nav_text .navigation #btn2 .btn {
  background-color: #F38A8A;
}
#r3:checked ~ .nav_text .navigation #btn3 .btn {
  background-color: #F38A8A;
}
#r4:checked ~ .nav_text .navigation #btn4 .btn {
  background-color: #F38A8A;
}

#r1:checked ~ .nav_text .text_box  .t1{
  margin-left: 0;
}
#r2:checked ~ .nav_text .text_box  .t1 {
  margin-left: -100%;
}
#r3:checked ~ .nav_text .text_box  .t1 {
  margin-left: -200%;
}
#r4:checked ~ .nav_text .text_box  .t1 {
  margin-left: -300%;
}

@media (max-width: 999px) {

  .nav_text {
    flex-direction: column-reverse;
  }

  .navigation {
    justify-content: center;
  }

  .text {
    text-align: center;
    margin-top: 1rem;
  }
}